In [3]:
"""
날짜 : 2023/01/13
이름 : 박가영
내용 : 파이썬 데이터베이스 프로그래밍 실습
"""

import pymysql

In [4]:
# Insert 실습
# 데이터베이스 접속(conn:접속객체)
conn = pymysql.connect(host='127.0.0.1', 
                user='root', 
                password='1234', 
                db='java2db', 
                charset='utf8')
# SQL 실행 객체
cur = conn.cursor()

# SQL 실행
sql = "insert into `user3` values ('a104', '이나미', '010-1234-1001', 33)"
cur.execute(sql)
conn.commit()

# 데이터베이스 종료
conn.close()
print('Insert 완료...')

Insert 완료...

In [8]:
# Update 실습
# 데이터베이스 접속(conn:접속객체)
conn = pymysql.connect(host='127.0.0.1', 
                user='root', 
                password='1234', 
                db='java2db', 
                charset='utf8')
# SQL 실행 객체
cur = conn.cursor()

# SQL 실행
sql = "update `user3` set "
sql += "`name`='홍길동', "
sql += "`hp`='010-1211-1010', "
sql += "`age`=22 "
sql += "where `uid`='a101'"
cur.execute(sql)
conn.commit()

# 데이터베이스 종료
conn.close()
print('Update 완료...')

Update 완료...

In [6]:
# Delete 실습
# 데이터베이스 접속(conn:접속객체)
conn = pymysql.connect(host='127.0.0.1', 
                user='root', 
                password='1234', 
                db='java2db', 
                charset='utf8')
# SQL 실행 객체
cur = conn.cursor()

# SQL 실행
sql = "delete from `user3` where `uid`='a101'"
cur.execute(sql)
conn.commit()

# 데이터베이스 종료
conn.close()
print('Delete 완료...')

Insert 완료...

In [11]:
# Select 실습
from sub.User3VO import User3VO

# 데이터베이스 접속(conn:접속객체)
conn = pymysql.connect(host='127.0.0.1', 
                user='root', 
                password='1234', 
                db='java2db', 
                charset='utf8')
# SQL 실행 객체
cur = conn.cursor()

# SQL 실행
cur.execute("select * from `user3`")
conn.commit()

# 결과 출력
users = []
for row in cur.fetchall():

    user = User3VO(row[0], row[1], row[2], row[3])
    users.append(user)

# 데이터베이스 종료
conn.close()
print('Select 완료...')

for user in users:
    print('----------------')
    print('아이디 :', user.uid)
    print('이름 :', user.name)
    print('휴대폰 :', user.hp)
    print('나이 :', user.age)

Select 완료...
----------------
아이디 : a102
이름 : 김춘추
휴대폰 : 010-1234-1002
나이 : 66
----------------
아이디 : a103
이름 : 장보고
휴대폰 : 010-1234-1003
나이 : 55
----------------
아이디 : a104
이름 : 이나미
휴대폰 : 010-1234-1001
나이 : 33
----------------
아이디 : a105
이름 : 이순신
휴대폰 : 010-1234-1005
나이 : 53
----------------
아이디 : a106
이름 : 강감찬
휴대폰 : 010-1234-1006
나이 : 33